<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width; initial-scale=0.6; maximum-scale=1.0;"/>
    <title>FlairGen</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"/>
  </head>
  <body>
    <div class="ribbon">
      <a href="//github.com/henrygd">Fork me on GitHub</a>
    </div>
      <p style="font-weight:strong;font-size: 17px;">Copy the text below and paste in the reddit comment box<br><span class=down>Tip: click in the box and hit Ctrl + A to select all, Ctrl + C to copy (or ⌘+A ⌘+C)</span></p><br>
        <textarea spellcheck="false" style="font-size:11px;color:maroon;background-color:transparent;width:80%;height:400px;height:60vh;">{{ output }}</textarea>
      <p><input type="button" style="border-radius:5px;color:white;background:#666666;cursor:pointer;border:none;" value="Want to try again?" onclick="history.back(-1)"/></p>
  </body>
</html>
